#toggle {
	display: inline-block;
	margin-top: 40px;
	padding: 13px 13px;
	border-style: solid;
	margin-left: 45%;
	font-family: Helvetica;
  font-size: 20px;
}

p {
	font-family: Times new Roman;
	font-weight: 300;
	font-size: 7vw;
}
