.btnSearch {
a:link, a:visited {
    background-color: white;
    border-style: solid;
    border-color: black
    border-width: 5px;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
}

a:hover, a:active {
    background-color: white;
}
